<!-- homeのみ表示 -->
<div class="container-fluid gtco-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Weightter を使えば<br> 健康を目指す人と <br>繋がれます</h1>
                <p>テストテストテストテストテストテストテストテストテストテストテストテスト </p>
                <a href="#">投稿一覧へ<i class="fa fa-angle-right" aria-hidden="true"></i></a></div>
            <div class="col-md-6">
                <!-- <div class="card"><img class="card-img-top img-fluid" src="images/banner-img.png" alt=""></div> -->
            </div>
        </div>
    </div>
</div>