  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-transparent" id="gtco-main-nav">
      <div class="container">
      <a class="navbar-brand">Weightter</a>
          <button class="navbar-toggler" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"><span
                  class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span></button>
          <div id="my-nav" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" href="#">ホーム</a></li>
                  <li class="nav-item"><a class="nav-link" href="#about">Weightterとは</a></li>
                  <li class="nav-item"><a class="nav-link" href="#services">投稿一覧</a></li>
                  <!-- ログイン時 -->
                  <!-- <li class="nav-item"><a class="nav-link" href="#services">投稿一覧</a></li>
                  <li class="nav-item"><a class="nav-link" href="#news">新規投稿</a></li>
                  <li class="nav-item"><a class="nav-link" href="#contact"></a></li> -->
              </ul>
              <!-- ログアウト時 -->
              <form class="form-inline my-2 my-lg-0">
                  <a href="#" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">ログイン</a>
                  <a href="#" class="btn btn-info my-2 my-sm-0 text-uppercase">新規登録</a> 
              </form>
              <!-- ログイン時 -->
              <!-- <form class="form-inline my-2 my-lg-0">
                  <a href="#" class="btn btn-outline-dark my-2 my-sm-0 mr-3 text-uppercase">ログアウト</a>
                  <a href="#" class="btn btn-info my-2 my-sm-0 text-uppercase">マイページ</a> 
              </form> -->
          </div>
      </div>
  </nav>